*, *::before, *::after {
    box-sizing: border-box;
  }

*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: #262b34;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: 2px solid red;
    background-size: cover;
    /* background-image: 2px solid red; */
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;

}

.container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cards-viewing {
    margin: 20px 0px 20px;
    padding: 20px 0px;
    position: relative;
}

h1 {
    color: goldenrod;
    margin: 0;
    padding-top: 20px;

}

.hit-stay-buttons {
    /* border: 2px solid red; */
    margin: 0 0 30px;
}

#hit, #stay {
    background-color: goldenrod;
    color: #016f32;
    width: 10rem;
    font-weight: bold;
    border: goldenrod;
    padding: 5px 20px;
    margin: 5px 10px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red */
}


.dealer-cards img {
    width: 7rem;
    height: 10rem;
    margin: 20px 10px 0;
    /* border: 2px solid red */
}
.player-cards img{
    width: 7rem;
    height: 10rem;
    margin: 20px 10px 0;
    /* border: 2px solid red */
}

p {
    color: white;
    /* border: 2px solid red; */
}

.result {
    margin: 20px 0 0;
}